body {
  background: #7c729a;
  color: white;
}

a {
  color: white!important;
}

.main {
  font-family:Arial;
  max-width:500px;
  display:block;
  margin:0 auto;
}

.action{
  display:block;
  margin:100px auto;
  width:100%;
  text-align:center;
}

.action a {
  display:inline-block;
  padding:5px 10px; 
  background:#f30;
  color:#fff;
  text-decoration:none;
}

.action a:hover{
  background:#000;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  margin: 1em;
  position: relative;
  text-align: left;
  display: inline;
  position: absolute;
  z-index: 999;
}

.slick-slider {
  margin: 1em 0;
}

#person-container {
  color: #524b66;
  visibility: hidden;
}

#person-container h2 {
  background: white;
}

#person-container .slick-slider {
  background: white;
}

#challenge-container {
  color: #524b66;
  visibility: hidden;
}

#challenge-container h2 {
  background: white;
}

#challenge-container .slick-slider {
  background: white;
}

.slick-slide {
  height: auto;
}

.slick-slide h3 {
  font-size: 1.5em;
  margin: 1em;
  position: relative;
  text-align: left;
}

.slick-slide p {
  margin: 1.5em;
}

#spinner-container {
  color: #524b66;
  visibility: hidden;
}