body {
  background: #7c729a;
  color: white;
}

a {
  color: white!important;
}

.main {
  font-family:Arial;
  max-width:500px;
  display:block;
  margin:0 auto;
}

.action{
  display:block;
  margin:100px auto;
  width:100%;
  text-align:center;
}

.action a {
  display:inline-block;
  padding:5px 10px; 
  background:#f30;
  color:#fff;
  text-decoration:none;
}

.action a:hover{
  background:#000;
}

h1 {
  color: white;
  text-align: center;
}

h1 a {
  text-decoration: none!important;
}

h2 {
  font-size: 1.2em;
  margin: 1em;
  margin-bottom: 0.5em;
  position: relative;
  text-align: left;
  display: inline;
  position: absolute;
  z-index: 999;
}

.slick-container {
  color: #524b66;
  visibility: hidden;
}

.slick-container h2 {
  background: white;
}

.slick-container .slick-slider {
  background: white;
}

.slick-slider {
  margin: 1em 0;
}

.slick-slide {
  height: auto;
}

.slick-slide h3 {
  font-size: 1.2em;
  margin: 1em;
  margin-bottom: 0.5em;  
  position: relative;
  text-align: left;
}

.slick-slide p {
  margin: 1.2em;
  margin-top: 0;
}

.button {
  position: relative;
  background-color: white; /* Green */
  border: none;
  color: #524b66!important;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 0.5em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

.button:active {
  background-color: light-grey; /* Green */
  top: 4px;
  left: 4px;
  box-shadow: none;
}

.footer {
  visibility: hidden;
}
